<h4>My Account</h4>
<ul class="nav navbar-nav">
  <li><a routerLink="/rewards" routerLinkActive="active">Rewards</a></li>
  <li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
  <li><a routerLink="/account-settings" routerLinkActive="active">Account Settings</a></li>
  <li><a routerLink="/payment-method" routerLinkActive="active">Payment Method</a></li>
  <li><a routerLink="/fulfillment-preferences" routerLinkActive="active">Fulfillment Preferences</a></li>
  <li><a routerLink="/communication-preferences" routerLinkActive="active">Communication Preferences</a></li>
  <li><a routerLink="/loyalty-partners" routerLinkActive="active">Loyalty Partners</a></li>
</ul>